<div class="mt-4">
	<h3>Edit Course</h3>
	<form method="POST" action="/course/store">
		<div class="form-group">
			<label for="name">Name Course</label>
			<input type="text" class="form-control" id="name" name="name" />
			<label for="description">Detail</label>
			<input
				type="text"
				class="form-control"
				id="description"
				name="description"
			/>
			<label for="videoId">Id Video YouTube</label>
			<input type="text" class="form-control" id="videoId" name="videoId" />
			<label for="level">Level</label>
			<input type="text" class="form-control" id="level" name="level" />

		</div>

		<button type="submit" class="btn btn-primary">Edit</button>
	</form>
</div>